@font-face {
    font-family: "OpenSans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "OpenSans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h3::after {
    content: "";
    margin: 6px auto 0px auto;
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
}

h3 {
    text-align: center;
    font-size: 14px;
}

.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    color: #fff;
    text-transform: uppercase;
    min-width: 1200px;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.post__wrapper {}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;

}

.header__logo {
    width: 179px;
}

.nav__list {
    display: flex;
    gap: 35px;
    font-size: 13px;
    flex-wrap: wrap;
}

.nav__list-item:hover {
    text-decoration: underline;
}

.header__text {
    padding-top: 75px;
    padding-bottom: 129px;
    margin-left: auto;
    margin-right: auto;
    width: 59%;
}

.header__title {
    font-size: 45px;
    line-height: 1.64;
    font-weight: bold;
    text-align: center;
}

.wrap {
    min-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    gap: 123px;
    padding-top: 61px;
}

.post__content {
    display: flex;
    gap: 31px;
    margin-bottom: 60px;
}

.picture {
    display: block;
    width: 381px;
    object-fit: cover;
}

.post__desc {
    width: 367px;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.category__item:hover {
    text-decoration: underline;
}

.post__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.2;
}

.post__text {
    margin: 29px 0px 43px 0px;
    font-size: 12px;
}

.post__date {
    color: #888888;
    padding-right: 8px;
    font-size: 12px;
}

.post__author {
    font-weight: bold;
    font-size: 12px;
}

.post__footer {
    font-size: 15px;
    line-height: 1.4667;
}

.post__footer-text {
    margin-bottom: 9px;
}

.aside__wrapper {
    width: 272px;
}

.sidebar__post {
    margin-top: 23px;
}

.last-post__title {
    font-size: 14px;
    line-height: 1.2;
}

.last-post__title:hover {
    color: #b59f5b;
}

.last-post__content {
    display: flex;
    gap: 19px;
    margin-bottom: 21.5px;
}

.last-post__content:last-child {
    margin-bottom: 0;
}

.last-post__picture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
}

.last-post__desc {
    width: 200px;
}

.last-post__author {
    font-size: 14px;
}

.sidebar__search {
    margin-top: 65px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-search {
    position: relative;
}

.form-btn {
    width: 100%;
    height: 48px;
    padding-left: 17px;
    padding-right: 15px;
    background: #f4f7f6;
    border: none;
    outline: none;
}

.form-btn:hover {
    outline: 1px solid #b59f5b;
}

.form-search>button[type="submit"] {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    background: #b59f5b;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.subscribe {
    margin-top: 62px;
}

.form-email {
    margin-top: 24px;
}

.form-email__subscribe-btn {
    margin-top: 18px;
    width: 100%;
    height: 48px;
    padding-left: 17px;
    padding-right: 15px;
    background: #b59f5b;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

.form-email__subscribe-btn:hover {
    background: black;
}

.tags {
    margin-top: 59px;
}

.tags__nav {
    display: flex;
    margin-top: 24px;
}

.tags__list-item {
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-flex;
}

.tags__list-item__link:hover {
    border: 3px solid#b59f5b;
}

.tags__list-item__link {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 14px;
    font-size: 12px;
    border: 3px solid #eeeeee;
}

.theme {
    margin-top: 57px;
}

.theme__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.theme__list-item {
    padding-bottom: 14px;
    border-bottom: 1px solid #eeeeee;
    ;
    font-size: 14px;
    font-weight: bold;
}

.theme__list-item:hover {
    color: #b59f5b;
}

.theme__list-item__link-number {
    margin-left: 5px;
    font-size: 12px;
    color: #b59f5b;
}

.footer {
    min-width: 1200px;
}

.social-link {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #f4f7f6;
    background-size: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-link ul {
    display: flex;
    justify-content: center;
    gap: 22px
}

.social-link li {
    width: 25px;
}

.social-link__dribble {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.social-link__pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.social-link__tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.footer-copyright {
    margin-top: 68px;
    margin-bottom: 40px;
    text-align: center;
}

.copyright {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}